.App {
  text-align: center;
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

img {
  width: 80%;
  max-width: 600px;
  margin: 0 auto 20px;
}

h1 {
  font-family: 'ClashDisplay';
  margin: 0;
}

h1 span { margin-right: 5px; }

h2 {
  font-family: 'ClashDisplay'
}

a {
  color: #E43F3E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}